@font-face {
    font-family: myfont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/* BODY */
body {
    font-family:myfont;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 auto;
    line-height: 1.4em;
    

}


h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1em;
    margin: 0px;
    font-family: myfont;
    text-align: center;
    font-size: 2.25em;

}

h1 {
    font-size: 2.25em;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
}

h3 {
    font-size: 1.25em;
    font-weight: 600;
}

p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
    font-family: myfont;
}
.container {
    width: 90%;
    margin: 0 auto;
    
}
span {
    color: #FF5333;
}

/* BODY */


/* header */

/* header */

/* HOME */
#slider {
    width: 100%;
}



.carosello {
    display: flex;
    position: absolute;
    max-width: 60%;
    position: relative;
    margin: 0 auto;

    padding: 1rem;

}
.nxt h3 {
    text-align:left;
}

.carosello img {
    width: 100%;

}

.button-container {
    position: relative;
    margin: 0 auto;
    text-align: center;
}



.succ {
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: #FF5333;
    color: #FF5333;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin-left: 1px;

}




.nxt a:hover {
   
    color: #FF5333;
    transform: scale(1.2);
}

.nxt a {
    color: #FF5333;
    float: right;
    
}

.button-container {

    position: relative;

}


.slider-change {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-left: 2px;


    border-radius: 5px;
    background: #DADADA;
}



.slide1 {

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    
    overflow: hidden;
    max-width: 250%;
    margin-left: 3px;
    margin-right: 3px;
    
}

.slide2 {



    
    
    max-width: 250%;
    margin-left: 3px;
    margin-right: 3px;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

/* HOME */


/* ABOUT US */

/* ABOUT US */

/* BLOG */


#blog_background {
background-image: url(images/blog/blog-bg.jpg);    
}

hr{
    width: 20%;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
    color: white;
}

#piatti {
    background-color: orangered;
    margin: 0 auto;
    width: 80%;
    height: 45em;
    display: grid;
    grid-template-columns: repeat(4, 25%); 
    grid-template-rows: repeat(6, 15em);
    box-sizing: border-box;
    overflow: hidden;
}

.blogbox1 {
 background-image: url(../images/blog/blog-img-1.jpg);
 background-position:center;
 background-size:cover;
 background-repeat: no-repeat;
 object-fit:cover;
 transition: 0.8s ease-out;
 box-sizing: border-box;
 overflow: hidden;
}
    .blogbox1:hover {
    transform: rotate(5deg) scale(1.1) ;
    -webkit-transform: rotate(5deg) scale(1.1) ;
    -moz-transform: rotate(5deg) scale(1.1) ;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
    box-sizing: border-box;
    overflow: hidden;
    } 

.blogbox2 {
    z-index: 8;
    background-color: white;
/*   transition-property: width, background-color ;
  transition-duration:2s, 2s ; */

}




/* .blogbox2 .square {
    width: 30px;
    height: 30px;
    transform: rotate(45deg) scale(1.1) ;
    background-color: red;
    vertical-align: middle;
} */

.blogbox3 {
    background-image: url(../images/blog/blog-img-2.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
    transition: 0.8s ease-out;
    box-sizing: border-box;
    overflow: hidden;
   }
   .blogbox3:hover {
       transform: rotate(5deg) scale(1.1) ;
       -webkit-transform: rotate(5deg) scale(1.1) ;
       -moz-transform: rotate(5deg) scale(1.1) ;
       transition-duration: 0.8s;
       transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
       box-sizing: border-box;
       overflow: hidden;
    } 

   
.blogbox4 {
    background-image: url(../images/blog/blog-img-3.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
    transition: 0.8s ease-out;
    box-sizing: border-box;
    overflow: hidden;
   }
   .blogbox4:hover {
       transform: rotate(5deg) scale(1.1) ;
       -webkit-transform: rotate(5deg) scale(1.1) ;
       -moz-transform: rotate(5deg) scale(1.1) ;
       transition-duration: 0.8s;
       transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
       box-sizing: border-box;
       overflow: hidden; 
   } 

   
.blogbox5 {
    background-image: url(../images/blog/blog-img-4.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
    transition: 0.8s ease-out;
    box-sizing: border-box;
    overflow: hidden;
   }
   .blogbox5:hover {
       transform: rotate(5deg) scale(1.1) ;
       -webkit-transform: rotate(5deg) scale(1.1) ;
       -moz-transform: rotate(5deg) scale(1.1) ;
       transition-duration: 0.8s;
       transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
       box-sizing: border-box;
       overflow: hidden;
   } 

   
.blogbox6 {
    background-image: url(../images/blog/blog-img-5.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
    transition: 0.8s ease-out;
    box-sizing: border-box;
    overflow: hidden;
   }
   .blogbox6:hover {
       transform: rotate(5deg) scale(1.1) ;
       -webkit-transform: rotate(5deg) scale(1.1) ;
       -moz-transform: rotate(5deg) scale(1.1) ;
       transition-duration: 0.8s;
       transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
       box-sizing: border-box;
       overflow: hidden;
   } 

   
.blogbox7 {
    background-image: url(../images/blog/blog-img-6.jpg);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    object-fit:cover;
    transition: 0.8s ease-out;
    box-sizing: border-box;
    overflow: hidden;
   }
   .blogbox7:hover {
       transform: rotate(5deg) scale(1.1) ;
       -webkit-transform: rotate(5deg) scale(1.1) ;
       -moz-transform: rotate(5deg) scale(1.1) ;
       transition-duration: 0.8s;
       transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
       box-sizing: border-box;
       overflow: hidden;
   } 

#menu_button{
    background-color: orangered;
    text-align: right;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding:  2rem 5rem ;
    color: white;
    border:none;
}
#menu_button:hover {
        background-color:transparent;
        border: orangered 1px solid;
        color: orangered;
        border-radius: 5%;
        animation-delay: 1200ms;
    }


   







/* BLOG */

/* MENU */


.menu {
    position: relative;
    margin-top: 15%;
}



.menu > div:nth-child(-n+3) {
    text-align: center;
    margin-bottom: 20%;

}

.menu > div:nth-child(2) {
    margin: 5% 30%;
    border-top: 1px solid lightgrey;
    box-shadow: 1px 1px 1px lightgrey;
}

.menu > div:nth-child(3)  {
    margin-top: 10%;
}

.menu > div:nth-child(4) h2 {
    margin-top: 10%;
    text-align: left;
}


.more_info {
    width:90%;
    height:75px;
    margin: 10% 5%;
    
}

.menu button {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #FF5333;
    font-variant: small-caps;
    color: black;
    font-size: 1rem;

 
}

.menu button:hover {
    background-color: #FF5333;
    color: white;
 
}
.menu p {
    color: grey;
}


.item_price sub {
    color: rgb(96, 89, 50);
    font-weight: bolder;
    
}

@media screen and (max-width: 768px) {
}



@media screen and (min-width: 768px) {

    .item_price {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .item_price .pancakes {
        /* border-bottom: 1px dotted rgb(96, 89, 50); */
        width: 88%;
        /* text-align: right; */
    }
    
    .item_price .pot_pie {
        width: 81.2%;
    }
    
    .item_price .cereal {
        width: 81%;
    }
    
    .item_price .skewers {
        width: 87.8%;
    }
    
    .item_price .steak {
        width: 71.8%;
    }
    
    .item_price .salad {
        width: 90%;
    }
    .item_price div:nth-child(2) {
        border-bottom: 1px dotted rgb(96, 89, 50);
        /* width: 88%; */
        text-align: right;
    }

    
    .menu > div:nth-child(2) {
        margin: 2.5% 45%;
        
    }

    .menu > div:nth-child(-n+3) {
        text-align: center;
        margin-bottom: 10%;
    
    }

    .more_info {
        width:25%;
        height:75px;
        margin-top: 5%;
        margin-left: 75%;
        
    }

}

@media screen and (min-width: 1024px) {

    .item_price {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 2%;
    
    
    }

    .item_price .pancakes {
        /* border-bottom: 1px dotted rgb(96, 89, 50); */
        width: 88%;
        /* text-align: right; */
    }
    
    .item_price .pot_pie {
        width: 81.2%;
    }
    
    .item_price .cereal {
        width: 81%;
    }
    
    .item_price .skewers {
        width: 87.8%;
    }
    
    .item_price .steak {
        width: 71.8%;
    }
    
    .item_price .salad {
        width: 90%;
    }
    
    .item_price div:nth-child(2) {
        border-bottom: 1px dotted rgb(96, 89, 50);
        /* width: 88%; */
        text-align: right;
    }


    .menu > div:nth-child(2) {
        margin: 2.5% 45%;
        
    }

    .menu > div:nth-child(-n+3) {
        text-align: center;
        margin-bottom: 5%;
    
    }

    .menu {
        margin-top: 10%;
    }

    .menu > div:nth-child(3) {
        margin: 0;
        
    }

    .more_info {
        width:25%;
        height:75px;
        margin-top: 5%;
        margin-left: 75%;
        
    }



}




/* MENU */

/* NEWS */

.newsletter_margin{
    margin: 10% 0;
}

.newsletter {
    background: url(../images/subscribe-bg.jpg) no-repeat fixed 0;
    background-size: cover;
}

.newsletter_inner {
    padding-top: 30%;
    padding-bottom: 30%;
    color: white;
}



.newsletter  p {
    margin: 10%;
    color: white;
    
}

.newsletter  div:nth-child(-n +3) {
    text-align: center;
    /* margin:  0 30%; */

}

.newsletter_inner > div:nth-child(2) {
    margin: 0 30% ;
    border-top: 1px solid white;

}

.newsletter_inner h1 {
    line-height: 1;
    margin: 10%;

}

.subscribe {

    margin-top: 5%;
    width: 90%;
    margin: 0 5%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscribe > div:nth-child(2)  {
    width: 75%;
    height: 45%;
}

.subscribe > div:nth-child(1)  {
    width: 100%;
    height: 45%;
}

.subscribe input, .subscribe button {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
	padding: 0;

}
.subscribe button {
   background-color: rgb(159, 195, 183);
   color: white;
   font-variant: small-caps;
   font-size: 1rem;
   
}


.subscribe button:hover {
    background-color: rgb(135, 162, 153);
 }



 @media screen and (min-width: 768px) {

    .newsletter_inner {
        padding-top: 10%;
        padding-bottom: 10%;
        color: white;
    }
    
    
    
    .newsletter  p {
        color: white;
        
    }

    .subscribe {

        margin-top: 5%;
        width: 50%;
        margin: 0 25%;
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
    }

    .subscribe > div:nth-child(2)  {
        width: 25%;
       
    }

    .subscribe > div:nth-child(1)  {
        width: 75%;
      
    }

    .subscribe input, .subscribe button {
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        padding: 0;

    }
    .subscribe button {
    background-color: rgb(159, 195, 183);
    color: white;
    font-variant: small-caps;
    font-size: 1rem;
    
    }


    .subscribe button:hover {
        background-color: rgb(135, 162, 153);
    }

    .newsletter_inner > div:nth-child(2) {
        margin: 5% 45% ;
        border-top: 1px solid white;
    
    }

 }


 @media screen and (min-width: 1024px) {

    .newsletter_inner {
        padding-top: 5%;
        padding-bottom: 5%;
        color: white;
    }
    
    
    
    .newsletter  p {
        color: white;
        
    }


    .subscribe {

        margin-top: 5%;
        width: 40%;
        margin: 0 30%;
        height: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .subscribe > div:nth-child(2)  {
        width: 25%;
    }

    .subscribe > div:nth-child(1)  {
        width: 75%;

    }

    .subscribe input, .subscribe button {
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        padding: 0;

    }
    .subscribe button {
    background-color: rgb(159, 195, 183);
    color: white;
    font-variant: small-caps;
    font-size: 1rem;
    
    }


    .subscribe button:hover {
        background-color: rgb(135, 162, 153);
    }

    .newsletter_inner > div:nth-child(2) {
        margin: 5% 45% ;
        border-top: 1px solid white;
    
    }

 }

/* NEWS */

/* CONTACT US */

/* CONTACT US */


/* 

.subscribe {

    margin-top: 5%;
    width: 40%;
    margin: 0 30%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.subscribe > div:nth-child(2)  {
    width: 25%;
}

.subscribe > div:nth-child(1)  {
    width: 75%;
}

.newsletter_inner > div:nth-child(2) {
    margin: 2.5% 45%;
    border-top: 1px solid white;

}

.subscribe input, .subscribe button {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    padding: 0;

} */