@font-face {
    font-family: myfont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

/* BODY */
body {
    font-family: myfont;
    font-size: 0.9em;
    font-weight: 400;
    margin: 0 auto;
    line-height: 1.4em;
    width: 100%;

}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1em;
    margin: 0px;
    font-family: myfont;
    text-align: center;
    font-size: 2.25em;
}

h1 {
    font-size: 2.25em;
    font-weight: 500;
}

h2 {
    font-size: 1.5em;
    font-weight: 500;
}

h3 {
    font-size: 1.25em;
    font-weight: 600;
}

p {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
    font-family: myfont;
}

.container {
    width: 90%;
    margin: 0 auto;
}

span {
    color: #FF5333;
}

/* BODY */

/* header */
#background_banner img {
    display: block;
    width: 100%;
}

#background_banner {
    display: inline-block;
    position: relative;
    height: 100%;
}

#background_banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/overlay-pattern.png), #000000;
    opacity: 0.3;
}

input#menu-btn {
    display: none;
}

.lni-menu {
    color: #FF4F02;
    font-size: 1.5rem;
}

#nav_container {
    padding: 2.8em 2.8em 1.7em 2.8em;
    width: 90%;
    margin: -5.5rem auto 0;
    background-color: #ffffffe1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;

}

#nav_container i {
    padding: 1rem 1.3rem 0 0;
}

#nav_container img {
    position: relative;
    bottom: 0.5em;
}

#nav_container nav {
    text-transform: uppercase;
    font-size: 0.95rem;
}

.nav_link {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 1em;
    color: #000;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:hover {
    text-decoration: none;
}

.nav_link.active {
    text-decoration: none;
    color: #FF4F02;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FF5333;
    opacity: 0;
    position: absolute;
    margin-top: 0.5em;
    transition: opacity .1s linear;
}

.nav_link:hover:after {
    display: block;
    opacity: 1;
}

.nav_link:active:after {
    display: block;
    opacity: 1;
}

/* header */

/* HOME */

* {
    box-sizing: border-box
}

.title1 {
    margin-left: 4.4rem;
    display: flex;
    margin-right: 9rem;
    justify-content: space-between;
    position: relative;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.title1 h3 {
    font-size: 1.8rem;
}


/* Slide container */
.slides_container {
    max-width: 100%;
    position: relative;
    margin: auto;
    display: block;
    font-size: 1.5rem;
}


.mySlides {
    display: none;
    margin-top: 2px;
    margin-bottom: 4px;
    text-align: center;
}


/* Next buttons */

.next {
    cursor: pointer;
    width: auto;
    float: right;
    color: #AA9D84;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    margin-top: 0.5rem;
    box-sizing: border-box;
    position: relative;
}

span {
    color: #FF4F02;
}

a.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.next:hover {
    color: #ff4f02;
    transform: scale(1.1);
    display: block;
}

/* Number text  */
.numbertext {
    color: #f2f2f2;
    font-size: 1.4rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.imgslide {
    width: 20%;
    margin-right: 3px;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

/* The dots*/
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 auto;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 3rem;
}

.active,
.dot:hover {
    background-color: #FF4F02;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 0.7s;
    ;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* HOME */


/* ABOUT US */
#about_us {
    background-color: #f6f6f6;
    padding: 4.375rem 0;
}

#about_us h2 {
    text-transform: capitalize;
    font-weight: 400;
    margin: 2.5rem auto;
    width: 80%;
}

#about_us span {
    font-weight: 700;
}

#about_us img {
    display: block;
    margin: 0 auto;
}

#about_us hr {
    width: 11em;
    margin-bottom: 2.5rem;
    border: 0;
    height: 1px;
    background-color: #c8c1b3;
}

#about_us p {
    color: #959595;
    text-align: center;
    line-height: 1.8em;
}

/* ABOUT US */

/*__________BLOG_______________*/

#blog_background {
    background-image: url(../images/overlay-pattern.png), url(../images/blog/blog-bg.jpg);     
    display:block;
    /* background-size: cover;
     */
    background-repeat:repeat, no-repeat;
    
    /* background-attachment: fixed,fixed;
     */
     
     /* position: fixed; */
    }
    
    /*  #blog_background::before{
        content: "";
        position:relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: url(../images/overlay-pattern.png), #000000 no-repeat fixed 0;
    /*     opacity: 0.3;
     */  
     
     #blog_background h2 {
        text-transform: capitalize;
        font-weight: 400;
        width: 80%;
        padding-top:1em;
        margin-bottom: 2.5rem;
        margin: 0 auto;
     }
    
    #blog_background span {   
         font-weight: bold;
    }
    
    
    #blog_background hr {
    width: 11em;
    margin-bottom: 0.7em ;
    border: 0;
    height: 1px;
    background-color: #c8c1b3;
    }
    
    #piatti hr{
        width: 20%;
        margin: 1em auto;
    
    }
    
    #piatti {
    /*     background-color: white;
     */  
        margin: 5rem auto;
        width: 100%;
        height: 45em;
        display: grid;
        grid-template-columns: repeat(2, 50%); 
        grid-template-rows: repeat(3, 33%);
        box-sizing: border-box;
        overflow: hidden;
        padding: 3em;
    /*     row-gap: 0.5em;
        column-gap: 0.5em; */
    }
    
    .blogbox1 {
        background-color: white;
        z-index: 2;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    .blogimmagine {
      z-index: 1; 
      position: relative;
    }
    
    .blogpar {
        width: 50%;
        float: right;
        padding: 1.6em;
        z-index: 2;
        vertical-align: middle;
        position: relative;
        background-color: white;
    }
        .blogpar p {
        color: grey;
        padding-bottom: 2.3em;
        }
    
    .blogbox1 img {
     width: 50%;
     height: auto;
     transition: 0.8s ease-out;
     box-sizing: border-box;
     overflow: hidden;
     z-index: 0;
     float: left;
    }
        .blogbox1 img:hover {
        transform: rotate(5deg) scale(1.1) ;
        -webkit-transform: rotate(5deg) scale(1.1) ;
        -moz-transform: rotate(5deg) scale(1.1) ;
        transition-duration: 0.8s;
        transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
        box-sizing: border-box;
        overflow: hidden;
        z-index: 0;
        margin-left:-15px;
        } 
    
    /* .blogbox2 .square {
        width: 30px;
        height: 30px;
        transform: rotate(45deg) scale(1.1) ;
        background-color: red;
        vertical-align: middle;
    } */
    
    .blogbox2 {
        background-color: white;
        z-index: 2;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    /*  .blogbox2 .blogpar {
        width: 50%;
        height: 3em;
        float: right;
        padding: 1.6em;
        z-index: 2;
        vertical-align: middle;
    } 
     */
    .blogbox2 img {
     width: 50%;
     height: auto;
     transition: 0.8s ease-out;
     box-sizing: border-box;
     overflow: hidden;
     z-index: 0;
     float: left;
    
    }
        .blogbox2 img:hover {
            transform: rotate(5deg) scale(1.1) ;
            -webkit-transform: rotate(5deg) scale(1.1) ;
            -moz-transform: rotate(5deg) scale(1.1) ;
            transition-duration: 0.8s;
            transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
            box-sizing: border-box;
            overflow: hidden;
            z-index: 0;
            margin-left:-15px;
        } 
    
        .blogbox3 {
            background-color: white;
            z-index: 2;
            box-sizing: border-box;
            overflow: hidden;
        }
        
        .blogbox3 .blogpar {
            width: 50%;
            height: auto;
            float: left;
            padding: 1.6em;
            z-index: 2;
            vertical-align: middle;
            position: relative;
        }
        
        .blogbox3 img {
         width: 50%;
         transition: 0.8s ease-out;
         box-sizing: border-box;
         overflow: hidden;
         z-index: 0;
        }
            .blogbox3 img:hover {
                transform: rotate(5deg) scale(1.1) ;
                -webkit-transform: rotate(5deg) scale(1.1) ;
                -moz-transform: rotate(5deg) scale(1.1) ;
                transition-duration: 0.8s;
                transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
                box-sizing: border-box;
                overflow: hidden;
                z-index: 0;
                margin-left:-15px;
            } 
    
            .blogbox4 {
                background-color: white;
                z-index: 2;
                box-sizing: border-box;
                overflow: hidden;
            }
            
            .blogbox4 .blogpar {
                width: 50%;
                height: auto;
                float: left;
                padding: 1.6em;
                z-index: 2;
                vertical-align: middle;
                position: relative;
            }
            
    
            .blogbox4 img {
             width: 50%;
             transition: 0.8s ease-out;
             box-sizing: border-box;
             overflow: hidden;
             z-index: 0;
            }
                .blogbox4 img:hover {
                transform: rotate(5deg) scale(1.1) ;
                -webkit-transform: rotate(5deg) scale(1.1) ;
                -moz-transform: rotate(5deg) scale(1.1) ;
                transition-duration: 0.8s;
                transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
                box-sizing: border-box;
                overflow: hidden;
                z-index: 0;
                margin-right:-15px;
    
                } 
    
    
                .blogbox5 {
                    background-color: white;
                    z-index: 2;
                    box-sizing: border-box;
                    overflow: hidden;
                }
                
                 .blogbox5 .blogpar {
                    width: 50%;
                    float: right;
                    padding: 1.6em;
                    z-index: 2;
                    vertical-align: middle;
                } 
                
                .blogbox5 img {
                    width: 50%;
                    height: auto;
                    transition: 0.8s ease-out;
                    box-sizing: border-box;
                    overflow: hidden;
                    z-index: 0;
                    float: left;
                }
                    .blogbox5 img:hover {
                    transform: rotate(5deg) scale(1.1) ;
                    -webkit-transform: rotate(5deg) scale(1.1) ;
                    -moz-transform: rotate(5deg) scale(1.1) ;
                    transition-duration: 0.8s;
                    transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
                    box-sizing: border-box;
                    overflow: hidden;
                    z-index: 0;
                    margin-right:-25px;
    
                    } 
            
                    .blogbox6 {
                        background-color: white;
                        z-index: 2;
                        box-sizing: border-box;
                        overflow: hidden;
                    }
                    
    /*                 .blogbox6 .blogpar {
                        width: 50%;
                        height: 3em;
                        float: right;
                        padding: 1.6em;
                        z-index: 2;
                        vertical-align: middle;
                    } */
                    
                    .blogbox6 img {
                        width: 50%;
                        height: auto;
                        transition: 0.8s ease-out;
                        box-sizing: border-box;
                        overflow: hidden;
                        z-index: 0;
                        float: left;
                    }
                        .blogbox6 img:hover {
                            transform: rotate(5deg) scale(1.1) ;
                            -webkit-transform: rotate(5deg) scale(1.1) ;
                            -moz-transform: rotate(5deg) scale(1.1) ;
                            transition-duration: 0.8s;
                            transition-timing-function: cubic-bezier(.63,.07,.54,.8); 
                            box-sizing: border-box;
                            overflow: hidden;
                            z-index: 0;
                            margin-left:-15px;
                        }
    
     div .blogbutton{
            background-color: orangered;
            color: white;
            border:none;
            width:20%;
            height:75px;
            margin-left: 78%;
            padding:  2rem 3rem ;
            text-align: center;
    }
    .blogbutton:hover {
            background-color:transparent;
            border: orangered 1px solid;
            color: orangered;
            border-radius: 5%;
            animation-delay: 1200ms;
        }  
    
    /* BLOG */
    
    /* MENU */
    
    .reveal {
        position: relative;
        transform: translateY(20px);
        opacity: 0;
        transition: all 1s ease;
    }
    
    .reveal.active {
        opacity: 100%;
        background-color: transparent;
        transform: translateY(0px);
    }

    .menu {
        margin: 2.5%;
        margin-top: 10%;
        position: relative;
    }
    
    .menu>div:nth-child(-n+3) {
        text-align: center;
        margin-bottom: 10%;
    }
    
    .menu>div:nth-child(2) {
        margin: 0 35%;
        border-top: 1px solid lightgrey;
        box-shadow: 1px 1px 1px lightgrey;
    }
    
    .menu>div:nth-child(3) {
        margin-top: 10%;
    }
    
    .menu>div:nth-child(4) h2 {
        margin-top: 10%;
        text-align: left;
    }
    
    
    .more_info {
        width: 90%;
        height: 75px;
        margin: 10% 5%;
    }
    
    .menu button {
        width: 100%;
        height: 100%;
        background-color: white;
        border: 1px solid #FF5333;
        font-variant: small-caps;
        color: #FF5333;
        font-size: 1rem;
    }
    
    .menu button:hover {
        background-color: #FF5333;
        color: white;
    }
    
    .menu p {
        color: grey;
    }
    
    .item_price {
        margin-left: 0;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    
    .item_price h3 {
        text-align: left;
    }
    
    
    .item_price sub {
        color: rgb(96, 89, 50);
        font-weight: bolder;
    }

/* MENU */

/* NEWS */

.newsletter_margin {
    margin: 20% 0;
}

.newsletter {
    background: url(../images/subscribe-bg.jpg) no-repeat fixed 0;
    /* background: url(overlay-pattern2.png) repeat; */
    background-size: cover;
}

.newsletter:after {
    background: url(../images/overlay-pattern.png) #000000;
    ;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
    z-index: 0;

}

.newsletter {
    position: relative;
}

.newsletter_inner {
    padding-top: 15%;
    padding-bottom: 15%;
    color: white;
    font-size: 1.5rem;
    background-image: none;
    position: relative;
    z-index: 1;
}

.newsletter p {
    margin: 5%;
    color: white;
}

.newsletter div:nth-child(-n +3) {
    text-align: center;
}

.newsletter_inner>div:nth-child(2) {
    margin: 0 40%;
    border-top: 1px solid white;
}

.newsletter_inner h2 {
    line-height: 1;
    margin: 7.5%;
}

.subscribe {
    margin-top: 5%;
    width: 90%;
    margin: 0 5%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscribe>div:nth-child(2) {
    width: 40%;
    height: 45%;
}

.subscribe>div:nth-child(1) {
    width: 100%;
    height: 45%;
}

.subscribe input,
.subscribe button {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
}

.subscribe button {
    background-color: #7EC3BB;
    color: white;
    font-variant: small-caps;
    font-size: 1.3rem;
}

.subscribe button:hover {
    background-color: #6fb1a9;
}

/*footer*/

.info_box i {
    color: rgb(98, 98, 98);
    margin-right: 2rem;
    font-size: 1.5rem;
}

.footer {
    width: 100%;
    padding: 30px;
    padding-bottom: 0;
}

.footer p {
    font-size: 0.95rem;
}

.box_contact, 
.blog_box {
    padding-bottom: 60px;
}

.blog_box p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.blog_box h4 {
     font-weight: 600;
     font-size: 1.25rem;
}

.box_media {
    padding-bottom: 25px;
}

.box_media ul li {
    padding: 30px 0;
}

.footer h3,
h4 {
    text-align: left;
    color: #FF4F02;
    font-size: 19px;
}

footer {
    text-transform: uppercase;
    width: 100%;
    list-style: none;
}

.footer,
footer {
    display: block;
}

footer {

    color: #454545;
    background-color: #c7c7c7;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.gallery ul li,
.link_social ul li {
    display: inline-block;
}

.contact_us {
    padding: 2rem;
}

#button_container {
    padding: 20px 80px;
    width: 100%;
    background: #FF4F02;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    height: 50px;
    padding-top: 18px;
    text-decoration: none;
    border: none;

}

.box_blog {
    width: 30%;
}


form,
.form_group,
#input_name,
#input_email {
    margin-bottom: 0.95rem;
}

#input_message {
    height: 200px;
    margin-bottom: 2rem;
}






.block_form h2 {
    padding: 2.5rem;
}

.block_form h3 {
    padding: 1.25rem;
}

.block_form span {
    text-transform: uppercase;
    font-weight: bold;
}

#input_name,
#input_email,
#input_message {
    width: 100%;
    padding: 0.375rem;
}

#button_contact a {
    color: #fff;
    text-decoration: none;
    width: 100%;
}

#button_contact {
    background: #FF4F02;
    margin-top: 0.95rem;
    padding: 0.95rem 5rem 0.95rem 5rem;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}

.border_f {
    background-color: #a7a5a5;
    color: #ffffff;
    font-size: 15px !important;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    border-radius: 100%;
    background: #B0B0B0;
    color: #FFFFFF;
    transition: .3s all;
}

.info_box h4 {
    color: #FF4F02;
}



.footer h3 {
    color: #2E2E2E;
    padding-bottom: 25px;
    text-align: left;
    text-transform: uppercase; 
}

.footer .border_f:hover {
    background-color: #FF4F02;
}

.footer .box_media .border_f ul li a:hover {
    background: #FF4F02;
    color: #fff;
}


/*_______________RESPONSIVE_____________________*/



@media screen and (min-width: 768px) and (max-width: 990px) {
    .info_box ul li {
        display: inline-block
    }
}
/* @media screen and (min-width: 990px) { */

    /*.block_contact ul {
        list-style: none;
    }
    
    .block_contact {
        display: flex;
        text-align: center;
        width: 100%;
        justify-content: space-between;
    }
    .box_contact{ 
        text-align: center;
        margin: 1.3rem;
        padding: 4px;
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    .box_blog {
        text-align: left;
        margin: 1.3rem;
        padding: 4px;
        width: 30%;
    }
    
    ul#lista1 li {
        display: inline;
        float: left;
        list-style: none;
        padding: 0 2px;
        }
    
    }   
        .link_social ul {
            display: flex; 
            list-style: none;
        }
            .link_social ul li{
                margin: 1rem;
                font-size: 2rem;
           } 
}
/* BLOG */


@media screen and (min-width: 768px) and (max-width: 1023px) {
        #piatti {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(3, 16%);
    }
}


@media screen and (max-width: 768px) {
    /* carusellloooo  */
        .imgslide {
            margin-right: -8px;
        }
    
        .title1 {
            margin-left: 2.6rem;
            display: flex;
            margin-right: 4rem;
            justify-content: space-between;
            position: relative;
            font-size: 1.1rem;
            margin-top: 0.5rem;
        }
        /*  carusellooooo */

    /* _________burger___________ */
    #nav_container nav {
        height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5 ease-out;
    }

    #nav_container nav a:first-child {
        margin-top: 3rem;
    }

    #nav_container nav a {
        margin-bottom: 1.3rem;
    }

    #nav_container {
        padding: 0rem 0 1.8rem 0;
        margin-top: -5rem;
    }

    #nav_container img {
        margin: 1.5rem 0 0 0.7rem;
    }

    input#menu-btn:checked~nav {
        height: 18em;
    }

    /* ____________________________ */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
/* carusellloooo  */
    .imgslide {
        margin-right: -8px;
    }

    .title1 {
        margin-left: 2.8rem;
        display: flex;
        margin-right: 5rem;
        justify-content: space-between;
        position: relative;
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }
    /*  carusellooooo */

    /* _________burger___________ */

    #nav_container nav a {
        display: inline-block;
        margin-left: 1em;
    }

    #nav_container label {
        display: none;
    }

    #nav_container {
        padding-right: 1rem;
        padding-bottom: 0.6rem;
        width: 710px;
    }

    #nav_container img {
        margin-left: -0.9rem;
    }

    #nav_container a {
        margin: 0 0.7rem 0.8rem;
    }

    /* __________________________ */

    .box_info {
        display: flex;
    
    }
    .info_box {
        padding-right: 40px;
    
    
    }
    
    

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    /* carusellloooo  */
        .imgslide {
            margin-right: -8px;
        }
    
        .title1 {
            margin-left: 4.4rem;
            display: flex;
            margin-right: 9rem;
            justify-content: space-between;
            position: relative;
            font-size: 1.1rem;
            margin-top: 0.5rem;
        }
    
        /*  carusellooooo */
        /* _________burger___________ */
        #nav_container {
            width: 950px;
            padding-right: 4em;
        }
    
        #nav_container label {
            display: none;
        }
    
        #nav_container nav a {
            margin-left: 0.6em;
        }
    
        /* ____________________________ */
    }

@media screen and (min-width: 768px) {
    /* carusellloooo  */
        .imgslide {
            margin-right: -8px;
        }

        .title1 {
            margin-left: 2.8rem;
            display: flex;
            margin-right: 5rem;
            justify-content: space-between;
            position: relative;
            font-size: 1.1rem;
            margin-top: 0.5rem;
        }
        /*  carusellooooo */

 /* il duplicato: */

  /* carusellloooo  */   

 /*   .imgslide {
        margin-right: 3px;
    
        }
    
    .title1 {
        margin-left: 4.4rem;
        display: flex;
        margin-right: 9rem;
        justify-content: space-between;
        position: relative;
        font-size: 1.1rem;
        margin-top: 0.5rem;
    } */
   /*  carusellooooo */

    h2 {
        font-size: 2.2rem;
    }

    h2 span {
        font-size: 2.8rem;
    }

    .menu {
        margin: 8%;
    }

    .item_price {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .item_price .pancakes {
        width: 80%;
    }

    .item_price .pot_pie {
        width: 70%;
    }

    .item_price .cereal {
        width: 70%;
    }

    .item_price .skewers {
        width: 80%;
    }

    .item_price .steak {
        width: 55%;
    }

    .item_price .salad {
        width: 83%;
    }

    .item_price div:nth-child(2) {
        border-bottom: 1px dotted rgb(96, 89, 50);
        /* width: 88%; */
        text-align: right;
    }

    .menu>div:nth-child(2) {
        margin: 2.5% 40%;

    }

    .menu>div:nth-child(3) {
        margin: 0 10%;

    }

    .menu>div:nth-child(-n+3) {
        text-align: center;
        margin-bottom: 5%;

    }

    .more_info {
        width: 25%;
        height: 75px;
        margin-top: 5%;
        margin-left: 75%;
    }

    .newsletter_margin {
        margin: 10 0;
    }

    .newsletter {
        background: url(../images/subscribe-bg.jpg) no-repeat fixed 0;
        background-size: cover;
    }

    .newsletter_inner {
        padding-top: 15%;
        padding-bottom: 2.5%;
        color: white;
    }


    .newsletter_inner p {
        color: white;
        margin: 2%;
        font-size: 1rem;
    }

    .newsletter_inner h2 {
        color: white;
        padding: 0;
        margin: 0;
    }

    .subscribe {
        width: 70%;
        margin: 0 15%;
        height: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .subscribe>div:nth-child(2) {
        width: 30%;
    }

    .subscribe>div:nth-child(1) {
        width: 70%;
    }

    .subscribe input,
    .subscribe button {
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        padding: 0;

    }

    .subscribe button {
        background-color: #7EC3BB;
        color: white;
        font-variant: small-caps;
        font-size: 1rem;

    }

    .subscribe button:hover {
        background-color: #6fb1a9;
    }

    .newsletter_inner>div:nth-child(2) {
        margin-top: 3%;
        margin-right: 40%;
        margin-left: 40%;
        border-top: 1px solid white;
        padding: 0;
    }
}


@media screen and (min-width: 1024px) {
    /* carusellloooo  */
        .imgslide {
            margin-right: -8px;
        }
    
        .title1 {
            margin-left: 4.2rem;
            display: flex;
            margin-right: 9rem;
            justify-content: space-between;
            position: relative;
            font-size: 1.1rem;
            margin-top: 0.5rem;
        }
    
        /*  carusellooooo */

/*_____BLOG____________*/

        #piatti {
            width: 90%;
        }

/*_________________MENU______________________*/


.menu {
    margin: 8%;
}

.item_price {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 2%;
}

.item_price .pancakes {
    /* border-bottom: 1px dotted rgb(96, 89, 50); */
    width: 86%;
    /* text-align: right; */
}

.item_price .pot_pie {
    width: 78%;
}

.item_price .cereal {
    width: 77.5%;
}

.item_price .skewers {
    width: 86%;
}

.item_price .steak {
    width: 67%;
}

.item_price .salad {
    width: 88.5%;
}

.item_price div:nth-child(2) {
    border-bottom: 1px dotted rgb(96, 89, 50);
    /* width: 88%; */
    text-align: right;
}


.menu>div:nth-child(2) {
    margin: 0 45%;
}

.menu>div:nth-child(-n+3) {
    text-align: center;
    margin-bottom: 5%;
}

.menu {
    margin-top: 10%;
}

.menu>div:nth-child(3) {
    margin: 0;

}

.more_info {
    width: 25%;
    height: 75px;
    margin-top: 5%;
    margin-left: 75%;
}

/*______________NEWSLETTER________________*/

    .newsletter_margin {
        margin: 10%;
    }

    .newsletter {
        background: url(../images/subscribe-bg.jpg) no-repeat fixed 0;
        background-size: cover;
    }

    .newsletter_inner {
        padding-top: 10%;
        padding-bottom: 5%;
        color: white;
    }


    .newsletter_inner p {
        color: white;
        margin: 2%;
    }

    .newsletter_inner h2 {
        color: white;
        padding: 0;
        margin: 0;
    }

    .subscribe {
        margin-top: 5%;
        margin-bottom: 0;
        width: 50%;
        margin: 0 25%;
        height: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .subscribe>div:nth-child(2) {
        width: 30%;
    }

    .subscribe>div:nth-child(1) {
        width: 70%;
    }

    .subscribe input,
    .subscribe button {
        width: 100%;
        height: 100%;
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .subscribe button {
        background-color: #7EC3BB;
        color: white;
        font-variant: small-caps;
        font-size: 1rem;
    }

    .subscribe button:hover {
        background-color: #6fb1a9;
    }

    .newsletter_inner>div:nth-child(2) {
        margin-top: 3%;
        margin-right: 45%;
        margin-left: 45%;
        border-top: 1px solid white;
        padding: 0;
    }

    /*_____footer______*/

    .footer {
        display: flex;
        padding: 3%;
        padding-top: 4%;
        justify-content: space-evenly;
    }

    .box_contact {
        display: inline;
    }

    .box_media {
        display: flex;
        flex-direction: column;
    }

    .box_media .gallery ul {
        display: inline-block;
        margin: 1.3rem;

    }

    .border_f {
        display: inline;
        text-align: center;
    }

    .social {
        margin-top: 0.8rem;
        font-size: 0.3;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    /* carusellloooo  */
        .imgslide {
            margin-right: -8px;
    
        }
    
        .title1 {
            margin-left: 4.4rem;
            display: flex;
            margin-right: 9rem;
            justify-content: space-between;
            position: relative;
            font-size: 1.1rem;
            margin-top: 0.5rem;
        }
        /*  carusellooooo */

    /* _________burger___________ */
    #nav_container {
        width: 1150px;
    }

    #nav_container label {
        display: none;
    }

    /* ____________________________ */
}


/*______________EXTRA________________________*/

/* NEWS */

/* CONTACT US */


/*BLOCK MOD CLAUDIO FOR DESKOTP QUERY  */
/*  .block_contact ul {
    list-style: none;
}
.block_contact {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}
.box_contact{
    text-align: center;
    margin: 1.3rem;
    padding: 4px;
    width: 30%;
}
.box_blog {
    text-align: left;
     margin: 1.3rem;
    padding: 4px;
    width: 30%;
}
ul#lista1 li {
    display: inline;
    float: left;
    list-style: none;
    padding: 0 2px;
    }
.box_media .gallery ul  {
    display: inline-block;
    
    margin: 1.3rem;
    
    }   
    
    .link_social ul {
        display: flex; 
        list-style: none;
        
    }
        .link_social ul li{
            margin: 1rem;
            font-size: 2rem;
 
       } */

/* BLOCK MOD CLAUDIO FOR DESKOTP QUERY  */